*{
    margin:0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #563635;
    color: white;
    height: 5rem;
    line-height: 5rem;
   
}

.choice{
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: black;
    border-radius: 50%;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
align-items: center;
}

#you,#computer{
    background-color: #78c091;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    
}

.msg-cont{
    margin-top: 5rem;
}
#msg{
    padding: 6px;
    color: white;
    background-color: #563635;
    border-radius: 1rem;
    font-size: 1.8rem;
    display: inline;
}